* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #21325e;
    --secondary: #f1d00a;
    --text-color: #323232;
    --bg-color: #f1f1f1;
}

.dark-theme {
    --text-color: #f1f1f1;
    --bg-color: #323232;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
    background: var(--bg-color);
}

h1, h2, h3, p {
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: min(990px, 92vw);
    margin: 0 auto;
}

header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    display: flex;
    gap: .5rem;
}

.social a {
    background-color: var(--primary);
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 999px;
}

.logo {
    max-width: 60px;
    order: -1;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem;
    border-radius: .4rem;
    background-color: var(--primary);
}

nav ul {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary);
    transition: right .2s ease-in-out;
}

nav ul.open {
    right: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

.close-btn,
.open-btn {
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.hero {
    display: flex;
    gap: 1rem;
}

.claim {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    background-image: url(../img/keyboards-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.articles {
    flex: 1;
}

/* Media query per desktop */
@media screen and (min-width: 991px) {
    .header-top {
        flex-direction: column;
        margin-bottom: 1.5rem;
    }

    .social {
        align-self: flex-end;
    }

    .logo {
        max-width: 100px;
        order: 0;
    }

    .open-btn,
    .close-btn {
        display: none;
    }

    nav ul {
        position: static;
        height: auto;
        flex-direction: row;
        justify-content: space-evenly;
    }
}