h1 {
    /* colore del testo */
    color: #ffa500;

    /* colore dello sfondo */
    background-color: slategray;

    /* grandezza del font */
    font-size: 60px;

    /* assegna una decorazione al testo e ha valori prestabiliti */
    text-decoration: underline;

    /* sceglie la font family del testo */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* allineamento del testo */
    text-align: center;
}

p {
    /* determina lo spazio verticale tra le righe di un testo (interlinea) */
    line-height: 30px;

    /* determina lo spazio tra ogni singola lettera di un testo */
    letter-spacing: 1px;

    /* suddivide il contenuto in colonne */
    column-count: 3;

    /* gestisce la quantità di spazio tra le colonne */
    column-gap: 30px;
}

ul {
    /* impostare un bordo attorno all'elemento */
    /* border-width: 4px;
    border-style: solid;
    border-color: crimson; */

    /* Tutte queste proprietà possono essere abbreviate in una unica (shorthand) */
    /* border: 4px solid crimson; */

    /* posso assegnare un bordo solo a un lato dell'elemento */
    border-bottom: 4px solid crimson;
    border-left: 6px dashed orange;
    border-right: 8px dotted tomato;

    /* gestisco l'aspetto dei puntini della lista */
    /* list-style: none; */
}

li {
    list-style-type: none;
}

/* --------------------------- COLORI - CODICI HEX -------------------------- */
/*
    I codici hex sono formati da cancelletto e una stringa alfanumerica di 6 caratteri (es.: #42f4f1) che vanno da 0-9 o da A-F.
    Le tre coppie di caratteri fanno riferimento ai 3 canali dei colori primar RGB (rosso, verde, blu), quindi i primi due caratteri gestiscono il rosso, i secondi il verde e gli ultimi il blu, risultando in un colore specifico.

    Nero:   #000000
    Bianco: #FFFFFF
*/